<button (click)="btnClick()">press me</button>
<svg #svg viewBox="-20 -20 220 200" xmlns="http://www.w3.org/2000/svg">
  <g [zoomableOf]="svg">
    <g *ngFor='let node of myFamilyNodes; index as i' [draggableNode]="node" >
      <g *ngFor="let line of node.allLines()">
        <line [attr.x1]="line.x1"
              [attr.x2]="line.x2"
              [attr.y1]="line.y1"
              [attr.y2]="line.y2"
              stroke="blue" ></line>
      </g>
      <rect
        [attr.x]="node.x"
        [attr.y]="node.y"
        width="15"
        height="10"
        rx="2"
        fill='white'
        stroke='green'/>
      <text font-size="2"
            [attr.x]="node.textCoordinates().x"
            [attr.y]="node.textCoordinates().y">{{node.name}}</text>

    </g>
  </g>
</svg>



